@using DevSpaceShared.Events.Docker

<PageTitle>Custom Templates | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:application-variable"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Custom Templates</RadzenText>
    </div>
    <RadzenBreadCrumb class="mt-2">
        <RadzenBreadCrumbItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/templates")" Text="Templates" />
        <RadzenBreadCrumbItem Text="Custom" />
    </RadzenBreadCrumb>
    @if (Member == null || !Member.HasDockerPermission(Team, Server, DockerPermission.UseCustomTemplates))
    {
        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
            You do not have permission for Use Custom Templates
        </RadzenAlert>
    }
    else
    {
        <br />
        <RadzenButton Text="Import" Click="@Import" Disabled="@(!Program.IsDevMode)"></RadzenButton>
    }
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public ServerData? Server => Session.Selected.Server;

    public async Task Import()
    {
        if (Member == null || Server == null)
            return;

        await Server.RecieveJsonAsync<object>(new DockerEvent(DockerEventType.ImportPortainerTemplates, null));
    }
}
