<PageTitle>Docker Custom Templates | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:application-variable"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Docker Custom Templates</RadzenText>
        <RadzenTextBox Placeholder="Search..." Style="max-width: 240px;" class="ml-4" />
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
