<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:application-variable"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Docker Custom Templates</RadzenText>
    </div>
    <a href="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers/" + Session.Selected.Server.VanityUrl + "/templates/custom")"><RadzenButton Variant="Variant.Filled" Text="Custom Templates" ButtonStyle="ButtonStyle.Info" /></a>
</div>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:application-brackets"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Docker App Templates</RadzenText>
        <RadzenTextBox Placeholder="Search..." Style="max-width: 240px;" class="ml-4" />
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
