<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:lightning-bolt"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Execute</RadzenText>
    </div>
    <RadzenRow Gap="0.5rem">
        <RadzenColumn class="rz-p-1">
            
        </RadzenColumn>
        <RadzenColumn class="rz-p-1">
            
        </RadzenColumn>
    </RadzenRow>

</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    private IEnumerable<DockerStack> Elements = new List<DockerStack>();

    public class DockerStack
    {
        public string Name;
    }
}
