<h6>ServerRegistryInfo</h6>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public ServerData? Server => Session.Selected.Resource as ServerData;

    // [Parameter]
    // public required string RegistryId { get; set; }
}
