<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:local-area-network"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Docker Networks</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

}
