@using DevSpaceWeb.Models
@using DevSpaceWeb.Models.Docker
@inject DialogService DialogService

<PageTitle>Docker App Templates | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:application-brackets"></span></div>
        <RadzenText TextStyle="TextStyle.H6">App Templates</RadzenText>
    </div>

    @if (!Member.HasDockerPermission(Team, Server, DockerPermission.UseAppTemplates))
    {
        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
            You do not have permission for Use App Templates
        </RadzenAlert>
    }
    else
    {
        <br />
        <a href="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers/" + Session.Selected.Team.Server.VanityUrl + "/templates/custom")"><RadzenButton Variant="Variant.Filled" Text="Custom Templates" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" /></a>
        <br />
    }
    
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamMemberData Member => Session.Selected.Member;
    public TeamData Team => Session.Selected.Team.Data;
    public ServerData Server => Session.Selected.Server;

    public async Task SetupTemplate()
    {
        await DialogService.ShowDynamicFormAsync<SetupTemplateStackModel>("Setup Anyviz Cloud Adaptor", new SetupTemplateStackModel(), async (SetupTemplateStackModel data) =>
        {
            if (!Member.HasDockerPermission(Team, Server, DockerPermission.DockerAdministrator))
                return "You do not have permission for Docker Administrator";

            return null;
        });
    }
}
