@page "/error/{responseCode}"

<PageTitle>Error Code | @_Data.Config.Instance.Name</PageTitle>
<div class="dash-box dash-main">
    @if (ResponseCode == "404")
    {
        <h1><span class="iconify" data-icon="mdi:help-box" style="color: #b55143;"></span> 404 Unknown Page</h1>
        <p>This page does not exist.</p>
    }
    else
    {
        <h1><span class="iconify" data-icon="mdi:help-box" style="color: #b55143;"></span> @ResponseCode Error</h1>
        <p>Please report this issue on our <a href="https://discord.gg/fluxpoint" target="_blank">Discord Server</a></p>
    }
    <a href="/">Home</a>
</div>

@code {

    [Parameter]
    public string? ResponseCode { get; set; }

}