
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:account"></span></div>
        <RadzenText TextStyle="TextStyle.H6">@Team.Name</RadzenText>
    </div>
    <br />
</div>

<TeamSettings IsHome="true"></TeamSettings>



@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamData Team => Session.Selected.Team.Data;
    public TeamMemberData Member => Session.Selected.Member;

}
