<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:account"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">@Session.Selected.Team.Data.Name</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
