@using DevSpaceWeb.Components.Dialogs.Users
@inject DialogService Dialogs

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <iconify-icon icon="mdi:account-supervisor-circle"></iconify-icon>
            <iconify-icon icon="mdi:arrow-left-thick"></iconify-icon>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Team</RadzenText>
    </div>
    <RadzenBreadCrumb class="mt-2">
        <RadzenBreadCrumbItem Path="@("/teams")" Text="Teams" />
        <RadzenBreadCrumbItem Text="@Session.Selected.Team?.Data.Name" />
    </RadzenBreadCrumb>
    <br />
    <ActionBar>
        <a href="https://docs.fluxpoint.dev/devspace/teams" target="_blank"><RadzenButton Text="Team Docs" Icon="menu_book" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
    </ActionBar>
    
</div>

<TeamSettings IsHome="true"></TeamSettings>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
}
