
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:account-supervisor-circle"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Team</RadzenText>
    </div>
    <RadzenBreadCrumb class="mt-2">
        <RadzenBreadCrumbItem Path="@("/teams")" Text="Teams" />
        <RadzenBreadCrumbItem Text="@Session.Selected.Team?.Data.Name" />
    </RadzenBreadCrumb>
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">ID</RadzenText>
    <RadzenText TextStyle="TextStyle.Body2">
        @Team?.Id
        <CopyClipboard Value="@Team?.Id.ToString()"></CopyClipboard>
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">Owner</RadzenText>
    <MemberStrip Team="@Team" UserId="@Team?.OwnerId"></MemberStrip>
</div>

<TeamSettings IsHome="true"></TeamSettings>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;

}
