<Project>
  <PropertyGroup>
    <ContainerRepository>devspace-web</ContainerRepository>
    
    <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:9.0-alpine</ContainerBaseImage>
    <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerRegistry>ghcr.io</ContainerRegistry>
  </PropertyGroup>

  <ItemGroup>
    <ContainerPort Include="5556" Type="tcp" />

    <ContainerLabel Include="org.opencontainers.image.source" Value="https://github.com/Misha-133/DevSpace" />
  </ItemGroup>
</Project>