@using Microsoft.AspNetCore.Components.Forms
@inherits FormGeneratorComponent

@foreach (var field in Properties)
{
    <RadzenLabel Text="@GetLabelText(field)" class="rz-my-0"></RadzenLabel>
    @RenderFormElement(DataContext, field)
    <ValidationMessage For="@(() => field.Name)" />
    @if (!string.IsNullOrEmpty(item.ErrorMessage))
    {
        <div class="validation-message" style="color: var(--rz-danger);">@item.ErrorMessage</div>
    }
}
