.mud-navmenu.mud-navmenu-dense .mud-nav-link {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}



.nav-list {
    margin-top: 4px;
    background-color: #161617 !important;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #2f2f31 !important;
}

.nav-link-server .iconify {
    color: #0086c9 !important;
}

.nav-server {
    border-color: rgba(0,135,201,0.5) !important;
}

    .nav-server .nav-list-header .iconify, .nav-server h4 {
        color: #0086c9 !important;
    }

.nav-link-web .iconify {
    color: rgb(0, 178, 201) !important;
}

.nav-web {
    border-color: rgba(0, 178, 201, 0.6) !important;
}

    .nav-web .nav-list-header .iconify, .nav-web h4 {
        color: rgb(0, 178, 201) !important;
    }

.nav-link-projects .iconify {
    color: #ffcc4d !important;
}

.nav-project {
    border-color: rgba(255,204,78,0.5) !important;
}

    .nav-project .nav-list-header .iconify, .nav-project h4 {
        color: #ffcc4d !important;
    }


.nav-link-errors .iconify {
    color: #dd7d36 !important;
}

.nav-errors {
    border-color: rgba(221,126,55,0.6) !important;
}

    .nav-errors .nav-list-header .iconify, .nav-errors h4 {
        color: #dd7d36 !important;
    }

.nav-list-team img {
    float: left !important;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.nav-list-team h4 {
    padding-left: 60px;
    padding-right: 6px;
    margin-bottom: 4px;
    color: var(--mud-palette-text-primary);
}

.nav-list-header .iconify {
    float: left !important;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    margin-top: 2px;
    color: var(--mud-palette-text-primary);
}

.nav-list-header h4 {
    padding-left: 38px;
    padding-right: 6px;
    margin-bottom: 4px;
    padding-top: 4px;
    color: var(--mud-palette-text-primary);
}

.nav-list .mud-icon-root {
    width: 22px;
    height: 22px;
}

.mud-nav-link .mud-icon-root {
    margin-left: -2px !important;
    margin-right: -2px;
}

.mud-nav-link .mud-nav-link-text {
    margin-left: 4px !important;
    color: #a5a5a5;
}

.mud-nav-link .iconify {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-bottom: -3px;
    color: #a5a5a5
}
