@page "/not-found"

<PageTitle>Page Not Found | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content dash-center">
    <div class="dash-box-header">
        <div class="dash-box-icon">
            <iconify-icon icon="mdi:warning"></iconify-icon>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Not Found</RadzenText>
    </div>
    <br />
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="6px">
        <a href="/" target="_blank"><RadzenButton Text="Dashboard" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
        <a href="/user/account" target="_blank"><RadzenButton Text="Account" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
    </RadzenStack>
</div>


@code {

}
