@using DevSpaceWeb.Components.Dialogs
@using DevSpaceWeb.Database
@using DevSpaceWeb.Fido2
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity;
@using System.Text.Json
@using Microsoft.Extensions.Caching.Distributed
@using MongoDB.Bson
@inject NavigationManager NavigationManager
@inject UserManager<AuthUser> UserManager
@inject IJSRuntime JS
@inject IDistributedCache Cache
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpContextAccessor Http
@inject IDialogService DialogService
@inject IDistributedCache Cache
@implements IDisposable
@inject ISnackbar Snackbar

@if (Ready)
{
    @switch (SessionError)
    {
        case SessionErrorType.HttpsRequired:
            {
                <MudThemeProvider IsDarkMode="true" />
                <MudPopoverProvider />
                <div class="dash-box dash-box-content" style="padding: 10px;">
                    <div class="dash-box-header">
                        <MudText Typo="Typo.h6">Http Error</MudText>
                    </div>
                    <br />
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">A secure https connection is required to use this.</MudAlert>
                </div>
            }
            break;
        case SessionErrorType.SessionSecurityError:
            {
                <MudThemeProvider IsDarkMode="true" />
                <MudPopoverProvider />
                <div class="dash-box dash-box-content" style="padding: 10px;">
                    <div class="dash-box-header">
                        <MudText Typo="Typo.h6">Session Security Error</MudText>
                    </div>
                    <br />
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">This instance has been incorrectly configured or is using local host ip for connection.</MudAlert>
                </div>
            }
            break;
        case SessionErrorType.AuthenticationError:
            {
                <MudThemeProvider IsDarkMode="true" />
                <MudPopoverProvider />
                <div class="dash-box dash-box-content" style="padding: 10px;">
                    <div class="dash-box-header">
                        <MudText Typo="Typo.h6">Authentication Error</MudText>
                    </div>
                    <br />
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled">Authentication error has occured.</MudAlert>
                </div>
            }
            break;
        case SessionErrorType.AuthenticationRequired:
            {
                <MudThemeProvider IsDarkMode="true" />
                <MudPopoverProvider />
                <MudSnackbarProvider></MudSnackbarProvider>
                <MudDialogProvider />
                <CascadingValue Value="@this">
                    <DevSpaceWeb.Components.Auth.LoginPage></DevSpaceWeb.Components.Auth.LoginPage>
                </CascadingValue>
            }
            break;
        default:
            {

                @if (_Data.Config.isFullySetup)
                {
                    @if (!_DB.IsConnected)
                    {
                        <MudThemeProvider IsDarkMode="true" />
                        <MudPopoverProvider />
                        <div class="dash-box dash-box-content" style="padding: 10px;">
                            <div class="dash-box-header">
                                <MudText Typo="Typo.h6">Database Error</MudText>
                            </div>
                            <br />
                            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">Can't connect to database.</MudAlert>
                        </div>
                    }
                    else
                    {
                        <CascadingValue Value="@this">
                            @ChildContent
                        </CascadingValue>
                    }
                }
                else
                {
                    <CascadingValue Value="@this">
                        @ChildContent
                    </CascadingValue>
                }

            }
            break;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    html {
        background-image: url("@BackgroundUrl") !important;
    }

    body {
        background: transparent !important;
        background-color: rgba(0,0,0,0.55) !important;
    }
</style>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public AuthenticationState State { get; set; }

    public SelectedSessionData Selected = new SelectedSessionData();

    public bool Ready = false;

    public string BackgroundUrl { get; set; } = "https://cdn.fluxpoint.dev/devspace/background.webp";

    public int UserDateOffset { get; set; }

    public SessionErrorType SessionError { get; set; }

    public async Task<AuthUser?> GetCurrentUserAsync()
    {
        return await UserManager.GetUserAsync(State.User)!;
    }

    public void ShowPreviewModeNotice()
    {
        Snackbar.Add("This action is disabled in Preview Mode", Severity.Info, opt =>
        {
            opt.ShowTransitionDuration = 500;
            opt.HideTransitionDuration = 500;
        }, "previewmode");
    }

    public async Task<bool> TriggerTwoFactorAuthentication(AuthUser user, bool logUsage)
    {
        var parameters = new DialogParameters<TwoFactorVerifyDialog>
        {
            { x => x.LogUsage, logUsage },
            { x => x.User, user }
        };

        var Dialog = await DialogService.ShowAsync<TwoFactorVerifyDialog>("2FA Verification", parameters, new DialogOptions
            {
                MaxWidth = MaxWidth.Medium
            });

        if (Dialog != null)
        {
            var Result = await Dialog.Result;
            if (Result != null && !Result.Canceled)
                return true;
        }

        return false;
    }

    public async Task<bool> TestPasskey(bool logUsage)
    {
        Console.WriteLine("Test Passkey");
        AuthUser? user = await GetCurrentUserAsync();
        if (user == null)
            return false;

        bool IsSuccess = false;
        string PasskeyRequestId = Guid.NewGuid().ToString();
        Cache.SetString("passkey-" + PasskeyRequestId, JsonSerializer.Serialize(new AuthRequest(user.Id, logUsage)), new DistributedCacheEntryOptions().SetAbsoluteExpiration(TimeSpan.FromMinutes(2)));
        try
        {
            IsSuccess = await JS.InvokeAsync<bool>("passkeyStartAuth", PasskeyRequestId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        string? Data = Cache.GetString("passkey-" + PasskeyRequestId);
        if (!string.IsNullOrEmpty(Data))
        {
            Console.WriteLine("Parse Passkey");
            AuthRequest? RequestData = JsonSerializer.Deserialize<AuthRequest?>(Data);
            if (RequestData != null && RequestData.UserId == user.Id)
            {
                Console.WriteLine("Got: " + RequestData.IsSuccess);
                IsSuccess = RequestData.IsSuccess;
            }
        }

        Console.WriteLine("Success: " + IsSuccess);

        return IsSuccess;
    }

    public ObjectId? CurrentUserId { get; set; }

    [CascadingParameter] public HttpContext? HttpContext { get; set; }



    public string Ip;

    protected override async Task OnInitializedAsync()
    {
        if (!Http.HttpContext.Request.IsHttps)
        {
            SessionError = SessionErrorType.HttpsRequired;
            return;
        }
        Ip = Utils.GetUserIpAddress(Http.HttpContext);
        State = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserDateOffset = await JS.InvokeAsync<int>("GetUserTimezoneOffset");
        string Path = NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length);

        if (!_Data.Config.isFullySetup && Path != "admin/setup")
        {
            NavigationManager.NavigateTo("admin/setup", true);
            return;
        }

        if (Path.StartsWith("admin"))
        {
            Ready = true;
        }
        else
        {
            if (string.IsNullOrEmpty(Ip) || Ip == "127.0.0.1")
            {
                SessionError = SessionErrorType.SessionSecurityError;
            }

            if (State == null)
            {
                SessionError = SessionErrorType.AuthenticationError;
            }
            else if (!State.User.Identity.IsAuthenticated)
            {
                SessionError = SessionErrorType.AuthenticationRequired;
            }
            else
            {
                _DB.SessionUpdated += SessionChangedEvent;
                var User = await GetCurrentUserAsync();
                CurrentUserId = User.Id;
                if (!User.Auth.Sessions.ContainsKey(Utils.GetStringSha256Hash(Ip)))
                    SessionError = SessionErrorType.SessionSecurityNewIp;
            }
            Ready = true;
        }
    }



    public void SessionChangedEvent(object sender, ObjectId user, SessionEventType type)
    {
        if (CurrentUserId == null || CurrentUserId != user || type != SessionEventType.Logout)
            return;

        _ = InvokeAsync(StateHasChanged);

    }

    public void Dispose()
    {
        _DB.SessionUpdated -= SessionChangedEvent;
    }


    public void TriggerChange()
    {
        this.StateHasChanged();
    }

    public enum SessionErrorType
    {
        None, HttpsRequired, SessionSecurityError, SessionSecurityNewIp, AuthenticationError, AuthenticationRequired
    }

}