@using DevSpaceWeb.Components.Auth
@using DevSpaceWeb.Components.Dialogs
@using DevSpaceWeb.Database
@using DevSpaceWeb.Fido2
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity;
@using System.Text.Json
@using Microsoft.Extensions.Caching.Distributed
@using MongoDB.Bson
@inject NavigationManager NavigationManager
@inject UserManager<AuthUser> UserManager
@inject IJSRuntime JS
@inject IDistributedCache Cache
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpContextAccessor Http
@inject DialogService DialogService
@inject IDistributedCache Cache
@implements IDisposable

@if (SessionError != SessionErrorType.Loading)
{
    @if (SessionError == SessionErrorType.Success)
    {
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    }
    else
    {
        <CascadingValue Value="@this">
            <RadzenComponents />
            <RadzenLayout>
                <RadzenBody>
                    @switch (SessionError)
                    {
                        case SessionErrorType.HttpsRequired:
                            {
                                <div class="dash-box dash-box-content dash-center">
                                    <div class="dash-box-header">
                                        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
                                        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Http Error</RadzenText>
                                    </div>
                                    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
                                        A secure https connection is required to use this.
                                    </RadzenAlert>
                                </div>
                            }
                            break;
                        case SessionErrorType.SessionSecurityError:
                            {
                                <div class="dash-box dash-box-content dash-center">
                                    <div class="dash-box-header">
                                        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
                                        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Session Security Error</RadzenText>
                                    </div>
                                    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
                                        This instance has been incorrectly configured or is using local host ip for connection.
                                    </RadzenAlert>
                                </div>
                            }
                            break;
                        case SessionErrorType.AuthenticationError:
                            {
                                <div class="dash-box dash-box-content dash-center">
                                    <div class="dash-box-header">
                                        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
                                        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Authentication Error</RadzenText>
                                    </div>
                                    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
                                        Authentication error has occured.
                                    </RadzenAlert>
                                </div>
                            }
                            break;
                        case SessionErrorType.DatabaseError:
                            {
                                <div class="dash-box dash-box-content dash-center">
                                    <div class="dash-box-header">
                                        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
                                        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Database Error</RadzenText>
                                    </div>
                                    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
                                        Failed to connect to the database.
                                    </RadzenAlert>
                                </div>
                            }
                            break;
                        case SessionErrorType.RestartRequired:
                            {
                                <div class="dash-box dash-box-content dash-center">
                                    <div class="dash-box-header">
                                        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
                                        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Restart Required</RadzenText>
                                    </div>
                                    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
                                        You need to restart this service/program due to a configuration change.
                                    </RadzenAlert>
                                </div>
                            }
                            break;
                        case SessionErrorType.AuthenticationRequired:
                            {
                                <LoginPage></LoginPage>
                            }
                            break;
                        case SessionErrorType.SessionSecurityNewIp:
                            {
                                <NewIpPage></NewIpPage>
                            }
                            break;
                    }
                </RadzenBody>
            </RadzenLayout>
        </CascadingValue>
    }

    <style>
        .loading {
        display: none !important;
        }
    </style>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    or get support
    <a href="https://discord.gg/fluxpoint" target="_blank"></a>
</div>

@if (!string.IsNullOrEmpty(BackgroundUrl))
{
    <style>
        html {
        background-image: url("@BackgroundUrl") !important;
        }
    </style>
}


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public event EventHandler EventNavMenuChange;

    public void TriggerNavMenuChange()
    {
        EventNavMenuChange?.Invoke(this, null);
    }

    public AuthenticationState State { get; set; }

    public SelectedSessionData Selected = new SelectedSessionData();

    public string BackgroundUrl { get; set; } = "https://cdn.fluxpoint.dev/devspace/background.webp";

    public int UserDateOffset { get; set; }

    public SessionErrorType SessionError { get; set; }

    public async Task<AuthUser?> GetCurrentUserAsync()
    {
        return await UserManager.GetUserAsync(State.User)!;
    }

    public void ShowPreviewModeNotice()
    {
        DialogService.ShowInfoAsync("Preview Mode", "This feature is not available in preview mode.");
    }

    public async Task<bool> TriggerTwoFactorAuthentication(AuthUser user, bool logUsage)
    {
        var options = new DialogOptions() { };

        var Dialog = await DialogService.OpenAsync<TwoFactorVerifyDialog>("2FA Verification", new Dictionary<string, object>()
        {
            { "LogUsage", logUsage },
            { "User", user }
        }, options);


        if (Dialog == null)
            return false;

        return (bool)Dialog;
    }

    public async Task<bool> TestPasskey(bool logUsage)
    {
        AuthUser? user = await GetCurrentUserAsync();
        if (user == null)
            return false;

        bool IsSuccess = false;
        string PasskeyRequestId = Guid.NewGuid().ToString();
        try
        {
            IsSuccess = await JS.InvokeAsync<bool>("passkeyStartAuth", PasskeyRequestId);
        }
        catch (Exception ex)
        {
            Logger.LogMessage(ex.ToString(), LogSeverity.Error);
        }
        string? Data = Cache.GetString("passkey-" + PasskeyRequestId);
        if (!string.IsNullOrEmpty(Data))
        {
            AuthRequest? RequestData = JsonSerializer.Deserialize<AuthRequest?>(Data);
            if (RequestData != null && RequestData.UserId == user.Id)
            {
                IsSuccess = RequestData.IsSuccess;
            }
        }
        return IsSuccess;
    }

    public ObjectId? CurrentUserId { get; set; }

    [CascadingParameter] public HttpContext? HttpContext { get; set; }

    public string Ip;

    protected override async Task OnInitializedAsync()
    {
        if (_DB.IsRestartRequired)
        {
            SessionError = SessionErrorType.RestartRequired;
            return;
        }
        if (!Http.HttpContext.Request.IsHttps)
        {
            SessionError = SessionErrorType.HttpsRequired;
            return;
        }
        Ip = Utils.GetUserIpAddress(Http.HttpContext);
        if (!_Data.Config.Instance.Features.AllowLocalhost && (string.IsNullOrEmpty(Ip) || Ip == "127.0.0.1"))
        {
            SessionError = SessionErrorType.SessionSecurityError;
            return;
        }

        State = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        try
        {
            UserDateOffset = await JS.InvokeAsync<int>("GetUserTimezoneOffset");
        }
        catch { }
        string Path = NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length);

        if (!_Data.Config.IsFullySetup && Path != "admin/setup")
        {
            NavigationManager.NavigateTo("admin/setup", true);
            return;
        }

        if (Path.StartsWith("admin", StringComparison.OrdinalIgnoreCase))
        {
            if (_Data.Config.Database.IsSetup && State != null && State.User.Identity.IsAuthenticated)
            {
                var User = await GetCurrentUserAsync();
                CurrentUserId = User.Id;
                if (!User.Auth.Sessions.ContainsKey(Utils.GetStringSha256Hash(Ip)))
                {
                    SessionError = SessionErrorType.SessionSecurityNewIp;
                    return;
                }
            }
        }
        else
        {
            if (State == null)
            {
                SessionError = SessionErrorType.AuthenticationError;
                return;
            }
            else if (_Data.Config.Database.IsSetup && !_DB.IsConnected)
            {
                SessionError = SessionErrorType.DatabaseError;
                return;
            }
            else if (!State.User.Identity.IsAuthenticated)
            {
                SessionError = SessionErrorType.AuthenticationRequired;
                return;
            }
            else
            {
                _DB.SessionUpdated += SessionChangedEvent;
                if (_Data.Config.Database.IsSetup)
                {
                    var User = await GetCurrentUserAsync();
                    if (User != null)
                    {
                        CurrentUserId = User.Id;
                        if (User.Background.Id.HasValue)
                            BackgroundUrl = User.Background.Url("webp");

                        if (!User.Auth.Sessions.ContainsKey(Utils.GetStringSha256Hash(Ip)))
                        {
                            SessionError = SessionErrorType.SessionSecurityNewIp;
                            return;
                        }
                    }
                    else
                    {
                        SessionError = SessionErrorType.AuthenticationError;
                    }
                }

            }
        }

        SessionError = SessionErrorType.Success;

    }



    public void SessionChangedEvent(object sender, ObjectId user, SessionEventType type)
    {
        if (CurrentUserId == null || CurrentUserId != user || type != SessionEventType.Logout)
            return;

        _ = InvokeAsync(StateHasChanged);

    }

    public void Dispose()
    {
        _DB.SessionUpdated -= SessionChangedEvent;
    }


    public void TriggerChange()
    {
        this.StateHasChanged();
    }

    public enum SessionErrorType
    {
        Loading, SessionSecurityError, HttpsRequired, SessionSecurityNewIp, AuthenticationError, AuthenticationRequired, DatabaseError, RestartRequired, Success
    }

}