<PageTitle>Server Status | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:cloud-check-variant"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Status</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
