<PageTitle>Server Connection Error | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Server Connection Error</RadzenText>
        <p>Failed to connect to the host server.</p>
    </div>
</div>

@code {

}
