<PageTitle>Server Limited | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Limited Control Error</RadzenText>
    </div>
    <p>Dev Space is running inside a container and has limited system access, some features are not available such as host files and commands.</p>
</div>

@code {

}
