<PageTitle>Server Webhooks | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:webhook"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Webhooks</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
