@inject DialogService DialogService

<PageTitle>@Server?.Name | @_Data.Config.Instance.Name</PageTitle>
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:server"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Server</RadzenText>
    </div>
    <br />
    <RadzenButton ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark" Text="Delete Server" Click="@DeleteServer" Disabled="(!Member.HasServerPermission(Server, ServerPermission.ManageResource))" />
    <br />
    <br />
    <RadzenRow Gap="10px" RowGap="10px">
        <RadzenColumn SizeMD="6" SizeSM="12" class="settings-box">
            <h6>System</h6>
            <RadzenStack Orientation="Orientation.Horizontal">
                <span class="iconify settings-icon" style="color: var();" data-icon="mdi:information"></span>
                <div>
                    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-05">
                        Version
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">
                        Ubuntu 24.04 LTS
                    </RadzenText>
                </div>
            </RadzenStack>
            <br />
            <RadzenRow Gap="10px" RowGap="10px">
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:timer"></span>
                        </div>
                        <div style="overflow: hidden;">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Uptime
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                47 Days 21 Hours 36 Minutes 17 Seconds
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:wide-area-network"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                IP
                            </RadzenText>
                            <RadzenTextMask Value="107.000.00.00" IsIp="true"></RadzenTextMask>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:cpu-64-bit"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                CPU
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                6
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:memory"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                RAM
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                20 GB
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:storage"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Storage
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                414/493 GB
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:dot-net"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                .NET
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                8.0.7
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn SizeMD="6" SizeSM="12" class="settings-box">
            <h6>Docker</h6>
            <RadzenStack Orientation="Orientation.Horizontal">
                <span class="iconify settings-icon" style="color: var();" data-icon="mdi:docker"></span>
                <div>
                    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-05">
                        Version
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">
                        27.0.3
                    </RadzenText>
                </div>
            </RadzenStack>
            <br />
            <RadzenRow Gap="10px" RowGap="10px">
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="ri:stack-fill"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Stacks
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                18
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="ri:box-3-fill"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Containers
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                23
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:storage"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Volumes
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                2
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:folder-image"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Images
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                16
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                    <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                        <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:local-area-network"></span>
                        </div>
                        <div>
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                                Networks
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">
                                6
                            </RadzenText>
                        </div>
                    </RadzenStack>
                </RadzenColumn>
            <RadzenColumn SizeMD="6" SizeSM="12" class="session-item">
                <RadzenStack Gap="12px" Orientation="Orientation.Horizontal">
                    <div>
                            <span class="iconify settings-icon" style="color: #EAEBEC;" data-icon="mdi:power-plug"></span>
                    </div>
                    <div>
                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">
                            Plugins
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">
                            1
                        </RadzenText>
                    </div>
                </RadzenStack>
            </RadzenColumn>
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>
</div>

<style>
    .settings-box .rz-align-items-normal .rz-text-body2 {
        text-overflow: "";
        overflow: hidden;
        white-space: nowrap;
    }

    .settings-box {
        background-color: rgba(43,44,54,0.8);
        width: 100% !important;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .settings-icon {
        width: 40px;
        height: 40px;
    }

    .session-item {
        padding: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 8px;
        background-color: rgba(52,53,63,0.8) !important;
        min-height: 70px;
    }

        .session-item .iconify:first-child {
            width: 44px;
            height: 44px;
        }

        .session-item .iconify:nth-child(2) {
            width: 36px;
            height: 36px;
            margin-left: -26px;
            margin-bottom: -36px;
            background-color: #17171b;
            padding: 6px;
            border-radius: 100px;
        }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamMemberData Member => Session.Selected.Member;
    public TeamData Team => Session.Selected.Team.Data;
    public ServerData Server => Session.Selected.Server;

    public async Task DeleteServer()
    {
        if (!Member.HasServerPermission(Server, ServerPermission.ManageResource))
        {
            Session.Notifications.ShowPermissionWarning(TeamPermission.ManageResources);
            return;
        }

        bool Confirm = await DialogService.ShowConfirmAsync("Delete Server", $"Are you sure you want to delete this server?", "Confirm", ButtonStyle.Success);
        if (!Confirm)
            return;

        DeleteResult Result = await _DB.Servers.Collection.DeleteOneAsync(Builders<ServerData>.Filter.Eq(x => x.Id, Server.Id));
        if (Result.IsAcknowledged)
        {
            if (Server.GetWebSocket() != null)
                Server.GetWebSocket().Client.Dispose();

            _DB.Servers.Cache.TryRemove(Server.Id, out _);
            Session.Selected.Team.Server = null;
            StateHasChanged();
        }
        else
        {
            await DialogService.ShowInfoAsync("Error", "Failed to delete server.");
        }
    }
}
