<PageTitle>Server Files | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:folder"></span></div>
        <RadzenText TextStyle="TextStyle.H6">File Manager</RadzenText>
    </div>
    <br />

</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

}
