
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:database"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Database</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter]
    public TeamMemberData Member { get; set; }
}
