
<div>
    <RadzenFormField Variant="Variant.Outlined" Style="width: 400px;" AllowFloatingLabel="false">
        <Start>
            name:
        </Start>
        <ChildContent>
            <RadzenTextBox MaxLength="100" Value="@Name" Placeholder="Name" @oninput="@((arg) => NameChanged.InvokeAsync(arg.Value as string))" />
        </ChildContent>
        <End>
            @if (Utils.IsDockerImageNameValid(Name))
            {
                <RadzenIcon Icon="check" IconStyle="IconStyle.Success"></RadzenIcon>
            }
            else
            {
                <RadzenIcon Icon="close" IconStyle="IconStyle.Danger"></RadzenIcon>
            }
        </End>
    </RadzenFormField>
    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark" Click="@(() => DeleteInput.InvokeAsync())" Style="margin-left: 4px; height: 100%; margin-top: 2px;" />

</div>


@code {
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public EventCallback<string> NameChanged { get; set; }

    [Parameter]
    public EventCallback DeleteInput { get; set; }
}
