<span class="rz-skeleton" style="width: @(Width + "px"); height: @(Height + "px"); @Style"></span>

@code {
    [Parameter] public int Width { get; set; } = 120;
    [Parameter] public int Height { get; set; } = 20;
    [Parameter] public string Style { get; set; }
}
