<span class="rz-skeleton" style="width: @(Width + "px"); height: @(Height + "px");"></span>

@code {
    [Parameter] public int Width { get; set; } = 200;
    [Parameter] public int Height { get; set; } = 30;
}
