



.mud-drawer-content {
    padding-left: 4px;
    padding-right: 10px;
    background-color: #1b1a1f !important;
}

/* Fixes appbar menu overlay broken */
.mud-appbar {
    z-index: 1000 !important;
}

.mud-popover-anchor-top-right {
    z-index: 1400 !important;
}

.mud-popover .mud-menu-sub {
    padding: 0px !important;
}

/* Set navbar buttons */
.mud-appbar-fixed-top .mud-button {
    margin-left: 6px !important;
    font-weight: 600;
}

/* Fix drawer content padding and overflow */
.mud-drawer-content {
    overflow-x: hidden;
    padding-bottom: 30px;
}


.mud-expand-panel .mud-expand-panel-content {
    background-color: #1f1f1f !important;
}

.mud-expand-panel .mud-expand-panel-header {
    background-color: #303134 !important;
    font-size: 14px !important;
}
