html {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-image: url("https://cdn.fluxpoint.dev/devspace/background.webp");
}

.dash-box {
    background-color: rgba(24,25,28,0.85) !important;
    border: 1px solid rgba(47,48,49,0.8) !important;
    padding-bottom: 12px;
    border-radius: 8px;
}

.dash-box-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.dash-box-header {
    display: flex;
    align-items: center;
}

.dash-box-icon {
    background-color: #293343 !important;
    border: 1px solid #2e394b !important;
    border-radius: 90px;
    width: var(--rz-text-h4-font-size);
    height: var(--rz-text-h4-font-size);
    max-width: 34px;
    max-height: 34px;
    margin-right: 10px;
}
.dash-box-back {
    cursor: pointer;
}

.dash-box-icon .iconify {
    color: rgb(213,213,213);
    margin: auto;
    height: 100% !important;
    width: 100% !important;
    padding: 4px;
}

.dash-box-back .iconify:nth-child(2) {
    display: none;
}

.dash-box-back:hover .iconify:nth-child(1) {
    display: none;
}

.dash-box-back:hover .iconify:nth-child(2) {
    display: block;
}

.dash-box-header .rz-text-h6 {
    margin-bottom: 0px;
}

.rz-sidebar-expanded {
    padding-left: 4px;
    padding-right: 8px;
}

.rz-header, .rz-sidebar-responsive {
    background-color: rgba(22,20,31,0.85) !important;
    border-color: rgba(22,20,31,0.9) !important;
}

    .rz-header .top-title {
        margin-left: -14px !important;
        margin-bottom: 8px !important;
        width: 194px !important;
        overflow: hidden !important;
        white-space: nowrap;
        text-align: center;
        font-size: 1.15rem;
    }

@media (max-width: 768px) {
    .rz-sidebar-responsive, .rz-header {
        background-color: rgba(22,20,31,1) !important;
    }

    .rz-sidebar-expanded {
        width: 100vw !important;
    }

    .rz-header .top-title {
        width: 100% !important;
        font-size: 1.05rem;
    }

    .top-divider {
        display: none !important;
    }
}

.rz-sidebar-toggle {
    background: none !important;
}

.rz-body, .rz-main-body {
    display: flex !important;
    flex-direction: column !important;
    gap: 18px !important;
}


/*
    Custom loading skeleton
*/

.rz-skeleton {
    border-radius: 4px;
    animation: rz-skeleton-keyframes-pulse 1.5s ease-in-out .5s infinite;
    background-color: rgba(0,0,0,.11);
    display: block;
}

@-webkit-keyframes rz-skeleton-keyframes-pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

/*
    Defaults
*/



h1 {
    font-size: var(--rz-text-h1-font-size);
    line-height: var(--rz-text-h1-line-height);
    font-weight: var(--rz-text-h1-font-weight);
    letter-spacing: var(--rz-text-h1-letter-spacing);
    color: var(--rz-text-h1-color);
    margin-block-start: var(--rz-text-h1-margin-block-start);
    margin-block-end: var(--rz-text-h1-margin-block-end);
}

h2 {
    font-size: var(--rz-text-h2-font-size);
    line-height: var(--rz-text-h2-line-height);
    font-weight: var(--rz-text-h2-font-weight);
    letter-spacing: var(--rz-text-h2-letter-spacing);
    color: var(--rz-text-h2-color);
    margin-block-start: var(--rz-text-h2-margin-block-start);
    margin-block-end: var(--rz-text-h2-margin-block-end);
}

h3 {
    font-size: var(--rz-text-h3-font-size);
    line-height: var(--rz-text-h3-line-height);
    font-weight: var(--rz-text-h3-font-weight);
    letter-spacing: var(--rz-text-h3-letter-spacing);
    color: var(--rz-text-h3-color);
    margin-block-start: var(--rz-text-h3-margin-block-start);
    margin-block-end: var(--rz-text-h3-margin-block-end);
}

h4 {
    font-size: var(--rz-text-h4-font-size);
    line-height: var(--rz-text-h4-line-height);
    font-weight: var(--rz-text-h4-font-weight);
    letter-spacing: var(--rz-text-h4-letter-spacing);
    color: var(--rz-text-h4-color);
    margin-block-start: var(--rz-text-h4-margin-block-start);
    margin-block-end: var(--rz-text-h4-margin-block-end);
}

h5 {
    font-size: var(--rz-text-h5-font-size);
    line-height: var(--rz-text-h5-line-height);
    font-weight: var(--rz-text-h5-font-weight);
    letter-spacing: var(--rz-text-h5-letter-spacing);
    color: var(--rz-text-h5-color);
    margin-block-start: var(--rz-text-h5-margin-block-start);
    margin-block-end: var(--rz-text-h5-margin-block-end);
}

h6 {
    font-size: var(--rz-text-h6-font-size);
    line-height: var(--rz-text-h6-line-height);
    font-weight: var(--rz-text-h6-font-weight);
    letter-spacing: var(--rz-text-h6-letter-spacing);
    color: var(--rz-text-h6-color);
    margin-block-start: var(--rz-text-h6-margin-block-start);
    margin-block-end: var(--rz-text-h6-margin-block-end);
}

p {
    font-family: var(--rz-text-font-family);
    font-size: var(--rz-text-body2-font-size);
    line-height: var(--rz-text-body2-line-height);
    font-weight: var(--rz-text-body2-font-weight);
    letter-spacing: var(--rz-text-body2-letter-spacing);
    color: var(--rz-text-body2-color);
    margin-block-start: var(--rz-text-body2-margin-block-start);
    margin-block-end: var(--rz-text-body2-margin-block-end);
}

a {
    color: #12a4f5;
    text-decoration: none;
}