body {
    background-color: rgba(0,0,0,0.55) !important;
    overflow: auto !important;
    min-height: 100vh;
}

html {
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed !important;
}


.mud-appbar-fixed-top, .mud-drawer {
    background-color: rgba(22,20,31,0.85) !important;
}

.mud-appbar .top-title {
    min-width: 160px;
    padding-left: 40px;
}

@media(max-width: 959px) {
    .mud-appbar-fixed-top, .mud-drawer {
        background-color: rgb(22,20,31) !important;
    }

    .mud-appbar .top-title {
        min-width: 170px !important;
        padding-left: 0px !important;
    }

    .mud-appbar .mud-button-text-default {
        display: none !important;
    }
}



.dash-box, .mud-main-content > .mud-paper, .mud-grid-item > .mud-paper {
    background-color: rgba(24,25,28,0.85) !important;
    border: 1px solid rgba(47,48,49,0.8) !important;
    padding-bottom: 12px;
    border-radius: var(--mud-default-borderradius);
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.dash-box-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.mud-appbar-dense ~ .mud-main-content {
    padding-top: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4 + 12px);
}


.mud-drawer-content {
    padding-left: 4px;
    padding-right: 10px;
}


.dash-box-header {
    display: flex;
}

.dash-box-icon {
    background-color: #293343 !important;
    border: 1px solid #2e394b !important;
    border-radius: 90px;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

    .dash-box-icon .iconify {
        width: 20px;
        height: 20px;
        color: rgb(213,213,213);
        margin-left: 5px;
        margin-top: 5px;
    }

.mud-table-empty-row {
    background: none !important;
}

.mud-table {
    padding-left: 6px;
    padding-right: 6px;
}

.mud-table-container {
    background-color: rgba(24,25,28,0.8) !important;
}

.dash-box .mud-input-outlined, .dash-box .mud-input-filled {
    background-color: rgba(24,25,28,0.8) !important;
}

.mud-button img {
    height: 20px;
    margin-right: 8px;
}
