
.rz-popup {
    display: none;
    position: absolute;
    overflow: hidden;
    border: var(--rz-panel-border);
    background-color: var(--rz-menu-background-color);
    box-shadow: var(--rz-context-menu-box-shadow);
    border-radius: var(--rz-border-radius);
    padding: 4px;
}

    .rz-popup .rz-datalist-data li:hover {
        background-color: var(--rz-base-700) !important;
    }

    .rz-popup .rz-datalist-data li {
        padding: 4px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }

#MainSidebar {
    padding-right: 0px;
    padding-top: 6px;
    overflow: hidden;
}

    #MainSidebar .sidebar-nav {
        margin: 0px !important;
        padding: 0px !important;
        height: calc(100% - 26px) !important;
        overflow: scroll !important;
        padding-bottom: 26px !important;
    }

    #MainSidebar .rz-panel-menu {
        padding-right: 8px;
    }

.rz-panel-menu {
    background: transparent;
}


.rz-navigation-item-wrapper:hover, .rz-navigation-menu .rz-navigation-item-wrapper:hover {
    background-color: rgba(173, 173, 177, 0.1) !important;
}



.rz-panel-menu .rz-navigation-menu .rz-navigation-item .rz-navigation-item-link {
    padding-inline-start: 30px !important;
}


.rz-panel-menu .rz-navigation-item {
    border: none !important;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.rz-navigation-item-link {
    height: 32px !important;
}

    .rz-navigation-item-link .rz-text-subtitle1 {
        color: rgb(165, 165, 165);
        margin-bottom: 0px;
    }

.rz-panel-menu .nav-list {
    margin-top: 4px;
    background-color: #161617 !important;
    background-color: rgba(22, 22, 23, 0.7) !important;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #2f2f31 !important;
}



.rz-panel-menu .nav-link-server .iconify {
    color: #0086c9 !important;
}

.rz-panel-menu .nav-server {
    border-color: rgba(0,135,201,0.5) !important;
}

    .rz-panel-menu .nav-server .nav-list-header .iconify, .rz-panel-menu .nav-server h4 {
        color: #0086c9 !important;
    }

.rz-panel-menu .nav-link-web .iconify {
    color: rgb(0, 178, 201) !important;
}

.rz-panel-menu .nav-web {
    border-color: rgba(0, 178, 201, 0.6) !important;
}

    .rz-panel-menu .nav-web .nav-list-header .iconify, .rz-panel-menu .nav-web h4 {
        color: rgb(0, 178, 201) !important;
    }

.rz-panel-menu .nav-link-projects .iconify {
    color: #ffcc4d !important;
}

.rz-panel-menu .nav-project {
    border-color: rgba(255,204,78,0.5) !important;
}

    .rz-panel-menu .nav-project .nav-list-header .iconify, .rz-panel-menu .nav-project h4 {
        color: #ffcc4d !important;
    }


.rz-panel-menu .nav-link-errors .iconify {
    color: #dd7d36 !important;
}

.rz-panel-menu .nav-errors {
    border-color: rgba(221,126,55,0.6) !important;
}

    .rz-panel-menu .nav-errors .nav-list-header .iconify, .rz-panel-menu .nav-errors h4 {
        color: #dd7d36 !important;
    }

.rz-panel-menu .nav-team img {
    float: left !important;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.rz-panel-menu .nav-list h5 {
    padding-left: 60px;
    padding-right: 12px;
    margin-bottom: 4px;
    color: var(--mud-palette-text-primary);
    font-size: 1.1rem;
}

.rz-panel-menu .nav-list-header .iconify {
    float: left !important;
    width: 34px;
    height: 34px;
    margin-left: 12px;
    margin-top: 2px;
    color: var(--mud-palette-text-primary);
}

.nav-list-header h5 {
    overflow: clip;
}

.rz-panel-menu .nav-list-header h4 {
    padding-left: 38px;
    padding-right: 6px;
    margin-bottom: 4px;
    padding-top: 4px;
    color: var(--mud-palette-text-primary);
}

.rz-panel-menu .nav-list .mud-icon-root {
    width: 22px;
    height: 22px;
}

.rz-panel-menu .mud-nav-link .mud-icon-root {
    margin-left: -2px !important;
    margin-right: -2px;
}

.rz-panel-menu {
    margin-left: 4px !important;
    color: #a5a5a5 !important;
}

    .rz-panel-menu .iconify {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        margin-bottom: -3px;
        color: #a5a5a5
    }
