.rz-button-md {
    min-height: 34px !important;
    max-height: 34px !important;
    padding: 0.4rem 1rem !important;
}

/*
    Partial icon overflow fix
*/
.rzi {
    overflow: hidden !important;
}

/*
    Remove Radzen background
*/
body {
    background: none !important;
}

/*
    Dialog tweaks
*/
.rz-dialog-mask {
    opacity: 1 !important;
    background-color: rgba(33, 33, 33, 0.498) !important;
}

.rz-dialog {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}

.rz-dialog-titlebar, .rz-dialog-content {
    background-color: #2a2a31;
}

.rz-dialog-titlebar-close {
    cursor: pointer;
}

    .rz-dialog-titlebar-close:hover .rzi-times {
        color: var(--rz-danger);
    }

.rz-dialog-titlebar {
    padding-top: 1rem;
}

.rz-dialog-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.rz-dialog-content, .rz-dialog-side-content {
    padding-top: 0.4rem !important;
    padding-bottom: 0.8rem;
}
    .rz-dialog-content .rz-justify-content-flex-end {
        margin-top: 8px;
    }


.rz-button.rz-base {
    color: rgba(255, 255, 255, 0.6) !important;
    color: rgba(207,207,207,0.8) !important;
}

    .rz-button.rz-base:hover {
        background-color: rgba(207,207,207,0.14) !important;
    }
