:root {
    --rz-button-border-radius: 6px;
}

/*
    Remove Radzen background
*/
body {
    background: none !important;
}

/*
    Set nav image max height
*/
.rz-navigation-item-link img {
    height: 22px !important;
    min-width: 22px !important;
    margin-right: 10px;
    margin-left: 4px;
}

/*
    Icon overflow fix
*/
.rzi {
    overflow: hidden !important;
}

/*
    Set max button height
*/

.rz-button-md {
    min-height: 34px !important;
    max-height: 34px !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}



/*
    Tabs style
*/
.rz-tabview-nav li {
    background-color: var(--rz-base-800);
    border-color: transparent;
    border-top: none !important;
    margin-right: 2px;
}

.rz-tabview-selected {
    border-bottom: solid 2px var(--rz-tabs-tab-selected-top-border-color) !important;
    background-color: var(--rz-tabs-tab-background-color) !important;
}

.rz-tabview-panels {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}

.rz-tabview-panel {
    padding: 0 !important;
    padding-top: 12px !important;
    border: none !important;
    border-radius: 0px !important;
}

/*
    No panel menu background
*/

.rz-panel-menu {
    background-color: transparent !important;
}
.rz-panel-menu .rz-navigation-item {
    border: none !important;
}



.rz-header .rz-button-icon-only {
    min-width: 48px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper {
    background-color: transparent !important;
    margin-left: 0px !important;
}

    .rz-navigation-item-wrapper-active, .rz-panel-menu .rz-navigation-menu .rz-navigation-item-wrapper:hover {
        background: none !important;
        background-color: rgba(173, 173, 177, 0.15) !important;
    }




/*
    Dialog tweaks
*/
.rz-dialog-mask {
    opacity: 1 !important;
    background-color: rgba(33, 33, 33, 0.498) !important;
}

.rz-dialog {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}

.rz-dialog-titlebar, .rz-dialog-content {
    background-color: #2a2a31;
}

.rz-dialog-titlebar-close {
    cursor: pointer;
}

    .rz-dialog-titlebar-close:hover .rzi-times {
        color: var(--rz-danger);
    }

.rz-dialog-titlebar {
    padding-top: 1rem;
}

.rz-dialog-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.rz-dialog-content, .rz-dialog-side-content {
    padding-top: 0.4rem !important;
    padding-bottom: 0.8rem;
}

    .rz-dialog-content .rz-justify-content-flex-end {
        margin-top: 8px;
    }


.rz-button.rz-base {
    color: rgba(255, 255, 255, 0.6) !important;
    color: rgba(207,207,207,0.8) !important;
}

    .rz-button.rz-base:hover {
        background-color: rgba(207,207,207,0.14) !important;
    }

/*
    Notification tweaks
*/
.rz-notification-item {
    background-color: #313a48 !important;
    box-shadow: 1px 1px #374151 !important;
}

.rz-notification {
    inset-block-start: 50px;
}

.rz-notification-item .rzi-exclamation-triangle {
    color: var(--rz-warning) !important;
}

.rz-notification-icon, .rz-notification-close {
    min-width: 20px !important;
}

/* Table no background */
.rz-datatable {
    background: none !important;
    border-color: transparent !important;
}

    .rz-datatable td {
        border-color: rgba(47,48,49,0.8) !important;
        background: none !important;
    }

.rz-selectable tbody tr.rz-data-row:hover:not(.rz-state-highlight) > td {
    background-color: rgba(56, 113, 255, 0.2) !important;
}

    .rz-datatable .rz-data-row:last-child td {
        border-bottom: transparent !important;
    }

.rz-datatable .rz-data-cell:first-child {
    width: 110px !important;
    padding-left: 0.5rem !important;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}
    .table-properties .rz-cell-data, .table-properties td {
        white-space: normal !important;
        word-wrap: break-word;
    }

/* Word wrap table and disable sticky cells for tables */
.rz-cell-data {
    white-space: normal !important;
}

@media (max-width: 768px) {
    .rz-grid-table-fixed .rz-frozen-cell {
        position: static !important;
    }
}


a span {
    text-decoration: none !important;
}

.rz-button.rz-state-disabled {
    cursor: not-allowed;
}
.rz-navigation-item.rz-state-disabled, .rz-navigation-item.rz-state-disabled .rz-navigation-item-link {
    pointer-events: auto !important;
    cursor: not-allowed !important;
}

.rz-button-sm .rzi {
    font-size: 1.15rem !important;
    width: 1.15rem !important;
    height: 1.15rem !important;
}

.rz-button.rz-light.rz-variant-filled {
    background-color: #626266;
}

    .rz-button.rz-light.rz-variant-filled:hover {
        background-color: #58585b;
    }



/* Context menu tweaks */
.rz-context-menu .rz-menu {
    box-shadow: none !important;
    border: none !important;
    background-color: #3C3D45 !important;
}

    .rz-context-menu .rz-menu .rzi {
        font-size: 1.1rem;
        width: 1.15rem !important;
        height: 1.15rem !important;
        color: var(--rz-base-300) !important;
    }

.rz-context-menu .rz-navigation-item {
    margin-bottom: 2px;
    font-size: var(--rz-grid-cell-font-size) !important;
    background-color: none;
}

.rz-context-menu .rz-navigation-item-wrapper {
    border-radius: 4px !important;
}

.rz-context-menu .rz-navigation-item:hover {
    background-color: rgba(60,61,69,0.4) !important;
}

    .rz-context-menu .rz-navigation-item:hover .rz-navigation-item-link,
    .rz-context-menu .rz-navigation-item:hover .rzi {
        color: var(--rz-text-color) !important;
    }

.rz-popup:has(.rz-context-menu) {
    border-radius: 6px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #3C3D45 !important;
}

/* Navigation menu changes */
.rz-header,
.rz-body {
    .rz-navigation-menu

{
    border-radius: 0 0 6px 6px !important;
    padding: 4px !important;
    background-color: #3C3D45 !important;
}

.rz-navigation-item-active {
    background-color: #3C3D45 !important;
    border-radius: 6px 6px 0 0 !important;
}

.rz-navigation-menu .rz-navigation-item .rz-navigation-item-wrapper {
    border-radius: 4px !important;
}

.rz-navigation-menu .rz-navigation-item {
    margin-bottom: 2px;
    font-size: var(--rz-grid-cell-font-size) !important;
}

.rz-navigation-menu .rz-navigation-item:hover {
    background-color: rgba(60,61,69,0.4) !important;
}

.rz-navigation-menu .rz-navigation-item:hover .rz-navigation-item-link,
.rz-navigation-menu .rz-navigation-item:hover .iconify {
    color: var(--rz-text-color) !important;
}

.rz-navigation-menu .rz-navigation-item .iconify {
    width: 1.1rem !important;
    height: 1.1rem !important;
    color: var(--rz-base-300) !important;
}
}
