.mud-button {
    text-transform: none !important;
}

.mud-table {
    background-color: transparent !important;
}

.mud-alert-filled-info {
    background-color: #3b6bcc !important;
}

.mud-alert-filled-success {
    background-color: #30a256 !important;
}

.mud-alert-filled-warning {
    background-color: #d59639 !important;
}

.mud-alert-filled-error {
    background-color: #cc324c !important;
}

.mud-alert-text-normal {
    background-color: rgba(40,39,47,0.45) !important;
}

.mud-button-filled-secondary {
    background-color: #393841 !important;
}


    .mud-button-filled-secondary:disabled {
        background-color: #212026 !important;
    }

.mud-button-text-secondary {
    color: var(--mud-palette-text-primary) !important;
}

    .mud-button-text-secondary:disabled {
        color: var(--mud-palette-action-disabled) !important;
    }

.mud-button-outlined-secondary {
    color: var(--mud-palette-action-disabled) !important;
    border-color: var(--mud-palette-action-disabled-background) !important;
}
