.offcanvas {
    background-color: #1f2129 !important;
}

    .offcanvas .alert {
        border-color: #18191c !important;
        color: #d9d9d9 !important;
        background-color: #181818 !important;
    }

    .offcanvas p {
        margin-left: 10px;
    }

.offcanvas-body label {
    background-color: #333333;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: #d9d9d9 !important;
}






.blocklyToolboxCategory .iconify {
    width: 22px;
    height: 22px;
    margin-left: 6px;
    margin-right: 6px;
}

.blocklyTreeSeparator {
    border-color: rgb(66,65,65) !important;
    margin-bottom: 8px;
    margin-top: 2px;
}

.blocklyTreeLabel {
    padding-bottom: 10px;
}

.blocklyToolboxContents {
    padding-right: 0.5em;
}

.blocklyTreeRow {
    padding: 3px;
    margin-bottom: 0.5em;
    border-radius: 0px 4px 4px 0px;
    height: initial;
    cursor: pointer !important;
}

#WorkspaceNav .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-bottom: 10px !important;
    margin-top: 4px !important;
}

#WorkspaceNav .btn {
    font-weight: 600;
    color: #d9d9d9 !important;
    font-family: circular std bold,sans-serif;
}

#WorkspaceNav .container-start .iconify {
    margin-bottom: -8px;
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

#WorkspaceNav img {
    width: 32px;
    height: 32px;
    border-radius: 90px;
}

#WorkspaceNav .workspace-name {
    display: inline-block;
    height: 32px;
}


#WorkspaceNav .iconify {
    width: 24px;
    height: 24px;
}


#WorkspaceNav .container-fluid {
    max-width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #191a22 !important;
}

#WorkspaceBuilder {
    height: calc(100vh - 66px) !important;
}

.blocklyMainBackground {
    stroke-width: 0 !important;
}

.blockly-minimap {
    position: absolute;
    box-shadow: none;
    width: 200px;
    height: 150px;
    top: 62px !important;
    left: calc(100vw - 346px) !important;
}

.workspace-disableminimap .blockly-minimap {
    display: none !important;
}

.blockly-minimap .injectionDiv .blockly-focus-region {
    fill: #181818 !important;
}



.blockly-ws-search {
    margin-top: 16px;
    margin-right: 30px;
    box-shadow: none !important;
}

.blockly-ws-search-close-btn, .blockly-ws-search-next-btn, .blockly-ws-search-previous-btn {
    width: 16px;
    height: 20px;
    margin-left: 6px;
    margin-top: 4px;
}


.blocklyWidgetDiv .blocklyMenu, .blocklyDropDownDiv, .blocklyDropDownDiv .blocklyMenu {
    background-color: #23252d !important;
    overflow: hidden !important;
}

    .blocklyWidgetDiv .blocklyMenu .blocklyMenuItem, .blocklyDropDownDiv .blocklyMenu .blocklyMenuItem {
        color: #cfcfcf;
    }


        .blocklyWidgetDiv .blocklyMenu .blocklyMenuItem:hover, .blocklyDropDownDiv .blocklyMenu .blocklyMenuItem:hover {
            background-color: #393d49 !important;
            color: white !important;
        }

.blocklyMenuItemDisabled {
    color: grey !important;
}

.blocklyWidgetDiv .blocklyMenu .blocklyMenuItemDisabled:hover, .blocklyDropDownDiv .blocklyMenu .blocklyMenuItemDisabled:hover {
    background-color: #23252d !important;
    color: grey !important;
}

.blocklyTooltipDiv {
    background-color: #161b22;
    border-color: #3e4957;
    color: rgb(210,228,24);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10pt;
    border-radius: 12px;
}

.blocklyFlyout .blocklyFlyoutLabelText {
    font-size: 13pt !important;
    font-weight: 700 !important;
    fill: white !important;
}
