<!DOCTYPE html>
<html lang="en" style="background-color: #1b1b1b !important;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@_Data.Config.Instance.Name</title>
    <meta name="description" content="@_Data.Config.Instance.Description">
    <base href="/" />
    <script src="js/blazor.min.js"></script>
    <link href="app.css" rel="stylesheet" />
    <link rel="preload" href="https://cdn.fluxpoint.dev/devspace/background.webp" as="image" type="image/webp" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" defer />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/roboto.css?v=1" rel="stylesheet" defer />
    <link href="css/nav.css" rel="stylesheet" defer />
    <link href="css/fixes.css" rel="stylesheet" defer />
    <link href="css/tweaks.css" rel="stylesheet" defer />
    <link href="DevSpaceWeb.styles.css" rel="stylesheet" defer />
</head>

<body>
    <Routes @rendermode="Program.RenderMode" />

    <script src="js/iconify.min.js" async></script>
    <script src="_content/MudBlazor/MudBlazor.min.js" async></script>
    <script src="/js/qrcode.min.js" defer></script>
    <script src="/js/utils.js" defer></script>
    <script src="/js/auth.js" defer></script>
    <script src="/js/passkey_helpers.js" defer></script>
    <script src="/js/passkey_auth.js" defer></script>
    <script src="/js/passkey_register.js" defer></script>
</body>

</html>
