<!DOCTYPE html>
<html lang="en" style="background-color: #272727; box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.55);">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@_Data.Config.Instance.Name</title>
    <meta name="description" content="@_Data.Config.Instance.Description">
    <base href="/" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
            Blazor.start({
            circuit: {
                reconnectionOptions: {
                    retryIntervalMilliseconds:
                        Array.prototype.at.bind(
                            [0, 1000, 2000, 5000, 10000, 15000, 30000, 60000]
                        ),
                },
            },
        });
    </script>
    <link href="app.css?v=1" rel="stylesheet" />
    <link rel="preload" href="https://cdn.fluxpoint.dev/devspace/background.webp" as="image" type="image/webp" />
    <link href="css/utils.css" rel="stylesheet" />
    <link href="css/main.css?v=1" rel="stylesheet" />
    <link href="css/roboto.css?v=1" rel="stylesheet" defer />
    <link href="css/nav.css?v=1" rel="stylesheet" defer />
    <RadzenTheme Theme="standard-dark" @rendermode="new InteractiveServerRenderMode()" />
    <link href="_content/Radzen.Blazor/css/standard-dark-base.css" defer />
    <link href="_content/Radzen.Blazor/fonts/MaterialSymbolsOutlined.woff2" defer />
    <link href="css/tweaks.css?v=1" rel="stylesheet" defer />
    <link href="DevSpaceWeb.styles.css?v=1" rel="stylesheet" defer />

</head>

<body>
    <div class="loading dash-box dash-box-content dash-center">
        <div class="loading-content">
            <div class="flex-center mb-3">
                <img src="@_Data.Config.Instance.GetIconOrDefault()" style="height: 40px; width: 40px;" />
                <h3 class="ml-3 mt-2">@_Data.Config.Instance.Name</h3>
            </div>
            <div class="rz-progressbar-circular rz-progressbar-indeterminate rz-progressbar-primary rz-progressbar-circular-md" style="margin-top: 10px; margin: auto;">
                <svg class="rz-progressbar-circular-viewbox" viewBox="-19 -19 38 38">
                    <circle class="rz-progressbar-circular-value" r="15.91549" fill="none" stroke-dashoffset="0"></circle>
                </svg>
            </div>
            <p class="mt-5" style="color: white;">Created by Fluxpoint Development - <a href="https://discord.gg/fluxpoint" target="_blank">Discord</a></p>
        </div>
    </div>
    <Routes @rendermode="Program.RenderMode" />
    
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js" async></script>
    <script src="js/iconify.min.js" async></script>
    <script src="/js/qrcode.min.js" defer></script>
    <script src="/js/utils.js?v=2"></script>
    <script src="/js/auth.js?v=4" defer></script>
    <script src="/js/passkey_helpers.js" defer></script>
    <script src="/js/passkey_auth.js" defer></script>
    <script src="/js/passkey_register.js" defer></script>
    <script src="_content/BlazorMonaco/jsInterop.js" defer></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js" defer></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js" defer></script>

</body>

</html>
