@page "/tools/image/convert"

<div class="dash-box">
    <div style="padding: 10px; padding-top: 30px; padding-bottom: 30px; text-align: center;">
        <p>Upload image here!</p>
        <p>Dosen't actually work</p>
    </div>
    <br />
    <MudTable @ref="_table" T="FileConvert" Items="@Elements" MultiSelection="true" SelectionChangeable="_selectionChangeable" Hover="true"
              @bind-SelectedItems="selectedItems">
        <HeaderContent>
            <MudTh>File</MudTh>
            <MudTh>Type</MudTh>
            <MudTh>Download</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Sign">@context.Type</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
        </PagerContent>
        <FooterContent>
            <MudTd colspan="3">
                <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!selectedItems.Any())">Download as Zip</MudButton>
            </MudTd>
        </FooterContent>
    </MudTable>
</div>

@code {
    private HashSet<FileConvert> selectedItems = new HashSet<FileConvert>();
    private IEnumerable<FileConvert> Elements = new List<FileConvert>();
    private bool _selectOnRowClick = true;
    private bool _selectionChangeable = true;
    private MudTable<FileConvert> _table;
    private string _selectedItemText = "No row clicked";

    public class FileConvert
    {
        public string Name;
        public string Type;
    }
}
