<div class="nav-list nav-list-sub nav-project">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:lightbulb"></span>
        <h4>Waifu Bot</h4>
    </div>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/p/" + Session.Selected.Project.VanityUrl + "/home")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:home"></span>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
