<div class="nav-list nav-list-sub nav-web">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:web"></span>
        <h4>Fluxpoint Website</h4>
    </div>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/w/" + Session.Selected.Website.VanityUrl + "/home")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:home"></span> Home</MudNavLink>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/w/" + Session.Selected.Website.VanityUrl + "/cloudflare")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:cloud"></span> Cloudflare</MudNavLink>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
