<div class="nav-list nav-list-sub nav-web">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:web"></span>
        <h5 style="color: var(--rz-menu-top-item-color) !important; text-decoration: none !important; height: 40px;">@Session.Selected.Website.Name</h5>
    </div>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites/" + Session.Selected.Team.Website.VanityUrl + "/home")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:home"></span>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites/" + Session.Selected.Team.Website.VanityUrl + "/cloudflare")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:cloud"></span>
            <p>Cloudflare</p>
        </Template>
    </RadzenPanelMenuItem>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
