<div class="nav-list nav-list-sub nav-web">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:web"></span>
        <h4>Fluxpoint Website</h4>
    </div>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites/" + Session.Selected.Website.VanityUrl + "/home")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:home"></span>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites/" + Session.Selected.Website.VanityUrl + "/cloudflare")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:cloud"></span>
            <p>Cloudflare</p>
        </Template>
    </RadzenPanelMenuItem>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
