
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:home"></span></div>
        <MudText Typo="Typo.h6">Logs</MudText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
