
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:warning"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Logs</RadzenText>
    </div>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

}
