@page "/test/compose"

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:gear"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Compose Editor Test</RadzenText>
    </div>
    <br />
    <Editor Value="@Text" Language="yaml"></Editor>

</div>

<style>
    
</style>

@code {
    public string Text = @"services:
  hello-portainer:
    container_name: hello-portainer
    image: alpine
    command: sh -c";
}
