@page "/test/compose"
@using BlazorMonaco.Editor

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:warning"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Compose Editor Test</RadzenText>
    </div>
    <StandaloneCodeEditor @ref="_editor" Id="my-editor-instance-id" ConstructionOptions="EditorConstructionOptions" />
</div>

<style>
    .monaco-editor, .monaco-diff-editor {
        min-height: calc(100vh - 140px) !important;
        max-height: calc(100vh - 140px) !important;
        padding-top: 10px;
    }
</style>

@code {
    private StandaloneCodeEditor _editor = null;

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
            {
                AutomaticLayout = true,
                Language = "yaml",
                Theme = "vs-dark",
                ScrollBeyondLastLine = false,
                ColumnSelection = true,
                Folding = false,
            };
    }
}
