@inject Radzen.DialogService dialogService

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <p>Changing your email address will require verification with the current email address.</p>
        <br />
        <RadzenLabel Text="Background Url" class="rz-my-0"></RadzenLabel>
        <RadzenTextBox @bind-Value="BackgroundUrl" Style="width: 100%" aria-label="Background Url TextBox" autofocus maxlength="300" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
        <RadzenButton Click="@Submit" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Submit" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>


@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public string BackgroundUrl { get; set; }

    void Submit()
    {
        Session.BackgroundUrl = BackgroundUrl;
        Session.TriggerChange();
        dialogService.Close(true);
    }

}
