@using Microsoft.AspNetCore.Identity
@inject UserManager<AuthUser> UserManager
@inject Radzen.DialogService dialogService

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" Style="height: 100%;">
    <RadzenStack JustifyContent="JustifyContent.Start">
        <p>Your username must be unique and is visible to everyone in your team.</p>
        <RadzenLabel Text="Username" class="rz-my-0"></RadzenLabel>
        <RadzenTextBox @bind-Value="Username" Style="width: 100%" aria-label="Username TextBox" autocomplete="off" autofocus
                       autocapitalize="none" maxlength="32" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
        <RadzenButton Click="@Submit" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Submit" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public string Username { get; set; }

    async Task Submit()
    {
        if (string.IsNullOrEmpty(Username))
            return;

        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        AuthUser? user = await Session.GetCurrentUserAsync();
        if (user == null || user.UserName.Equals(Username, StringComparison.OrdinalIgnoreCase))
            return;

        var Result = await UserManager.SetUserNameAsync(user, Username);
        if (Result.Succeeded)
        {
            Session.TriggerChange();
            _DB.TriggerSessionEvent(user.Id, SessionEventType.AccountUpdate);
            dialogService.Close(true);
        }

    }
}
