@inject Radzen.DialogService dialogService

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" Style="height: 100%;">
    <RadzenStack JustifyContent="JustifyContent.Start">
        <p>Role has unsaved permission changes!</p>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.CloseSide(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
        <RadzenButton Click="@((args) => dialogService.CloseSide(true))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Save" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>