@using Microsoft.AspNetCore.Identity
@inject AuthenticatorTokenProvider<AuthUser> Authenticator
@inject UserManager<AuthUser> UserManager
@inject IJSRuntime JS
@inject Radzen.DialogService dialogService

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <p>Scan this QR code or copy the setup key into any Authenticator app.</p>
        <br />
        <div id="qrcode" style="max-height: 228px !important; max-width: 228px !important;">
        </div>
        <br />
        <div id="setupkey">
            @SetupKey
        </div>
        <div hidden id="setupurl" style="display: none">
            @SetupUrl
        </div>
        <br />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Code</RadzenText>
        <RadzenTextBox @bind-Value="CodeInput" Style="width: 100%" aria-label="Code TextBox" />
        <br />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Device Name</RadzenText>
        <RadzenTextBox @bind-Value="DeviceNameInput" Style="width: 100%" aria-label="Device Name TextBox" />
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
        <RadzenButton Click="@Submit" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Submit" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>

<style>
    #qrcode {
        background-color: white;
        padding: 6px;
        width: 142px;
    }

        #qrcode img {
            max-width: 128px;
            max-height: 128px;
        }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            JS.InvokeVoidAsync("LoadQR");

    }

    [Parameter]
    public string SetupKey { get; set; }

    [Parameter]
    public string SetupUrl { get; set; }

    public string CodeInput { get; set; }
    public string DeviceNameInput { get; set; }

    async Task Submit()
    {
        if (string.IsNullOrEmpty(CodeInput) || string.IsNullOrEmpty(DeviceNameInput))
            return;

        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        AuthUser? user = await Session.GetCurrentUserAsync();
        if (user == null)
            return;

        var Test = await Authenticator.ValidateAsync("", CodeInput, UserManager, user);
        if (Test)
        {
            user.Auth.AuthenticatorLastRegisteredAt = DateTimeOffset.UtcNow;
            user.Auth.AuthenticatorDevices.TryAdd(DeviceNameInput, true);

            user.Auth.IsTwoFactorEnabled = true;
            await UserManager.UpdateAsync(user);
            _DB.TriggerSessionEvent(user.Id, SessionEventType.AccountUpdate);
            dialogService.Close(true);
        }


    }
}