@using Microsoft.AspNetCore.Identity
@inject UserManager<AuthUser> UserManager
@inject Radzen.DialogService dialogService

<PageTitle>Recovery Code | @_Data.Config.Instance.Name</PageTitle>
<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
    <RadzenStack>
        <RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Dark" AllowClose="false">
            Copy or download this code and keep it safe!
        </RadzenAlert>
        <br />
        <RadzenText TextStyle="TextStyle.Body2">
            @Code
        </RadzenText>
        <br />
        <a href="@("/auth/account/downloadRecoveryCode?token=" + DownloadToken)" target="_blank"><RadzenButton Variant="Variant.Filled" Shade="Shade.Dark" ButtonStyle="ButtonStyle.Info" Text="Download" /></a>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@(() => dialogService.Close(true))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Ok" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>


@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter] public string Code { get; set; }

    [Parameter] public string DownloadToken { get; set; }
}
