@page "/user/account"

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">My Account</RadzenText>
    </div>
    <br />

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Profile">
                <AccountSettingsProfile></AccountSettingsProfile>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Security">
                <AccountSettingsSecurity></AccountSettingsSecurity>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Connections">
                <RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Dark" AllowClose="false">
                    This section is not available yet and will be for Google, Twitter, Discord linked access.
                </RadzenAlert>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

<style>


    .settings-box {
    background-color: rgba(43,44,54,0.8);
    width: 100% !important;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    }
</style>

<style>
    .passkey-item {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: rgba(52,53,63,0.8) !important;
    }

    .passkey-item img {
    margin-right: 20px;
    width: 24px;
    height: 24px;
    margin-top: 18px;
    }


    .passkey-item .iconify {
    width: 24px;
    height: 24px;
    color: #f64e62 !important;
    }


    .session-item {
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: rgba(52,53,63,0.8) !important;
    min-height: 70px;
    }

    .session-item .iconify:first-child {
    width: 44px;
    height: 44px;
    }

    .session-item .iconify:nth-child(2) {
    width: 36px;
    height: 36px;
    margin-left: -26px;
    margin-bottom: -36px;
    background-color: #17171b;
    padding: 6px;
    border-radius: 100px;
    }
</style>



@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    
}
