@page "/admin/{page?}"

@if (!IsAdmin)
{
    <div class="dash-box dash-box-content">
        <h3>@_Data.Config.Instance.Name Admin</h3>
        <p>Enter your Admin Key here, you can find this in /Data/Config.json</p>
        <br />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Admin Key</RadzenText>
        <RadzenPassword @bind-Value="AdminKeyInput" Style="width: 100%" aria-label="Admin key TextBox" AutoComplete="false" maxlength="100" />
        @if (Program.IsPreviewMode)
        {
            <br />
            <RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Dark" AllowClose="false">
                Preview Mode: You can press Check or enter anything to view this.
            </RadzenAlert>
        }
        else
        {
            <br />
            <br />
        }
        <RadzenButton Click="@CheckAdminKey" Variant="Variant.Filled" Shade="Shade.Dark" Text="Check" />
    </div>
}
else if (!_Data.Config.IsFullySetup)
{
    <AdminSetup></AdminSetup>
}
else
{
    @switch (page)
    {
        case "":
        case null:
        <AdminSettings></AdminSettings>
            break;
        case "database":
            @* <AdminDatabase></AdminDatabase> *@
            break;
        case "instance":
            @* <AdminInstanceSettings></AdminInstanceSettings> *@
            break;
        case "dev_services":
            @* <AdminDevServices></AdminDevServices> *@
            break;
        case "dev_design":
            @* <AdminDevDesign></AdminDevDesign> *@
            break;
        case "templates":
            @* <AdminEmailTemplates></AdminEmailTemplates> *@
            break;
    }
}


@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter]
    public string page { get; set; }

    public bool IsAdmin { get; set; }
    public string AdminKeyInput { get; set; }

    public string ErrorText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (_Data.Config.Database.IsSetup)
        {
            AuthUser? User = await Session.GetCurrentUserAsync();
            if (User != null)
                IsAdmin = User.IsInstanceAdmin;
        }

    }

    public void CheckAdminKey()
    {
        if (Program.IsPreviewMode || (!string.IsNullOrEmpty(AdminKeyInput) && AdminKeyInput == _Data.Config.AdminKey))
            IsAdmin = true;
        else
            ErrorText = "Invalid admin key";
    }
}
