
<PageTitle>Admin Dev Design | @_Data.Config.Instance.Name</PageTitle>
<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:home"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Design</RadzenText>
    </div>

    <h6>Code</h6>
    <RadzenSecurityCode Type="SecurityCodeType.Numeric" Count="6" Gap="6px" />
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
