@using DevSpaceWeb.Models
@using DevSpaceWeb.Services
@using MailKit.Net.Smtp
@using MimeKit
@using Swashbuckle.AspNetCore.Swagger
@inject EmailService EmailService
@inject ISwaggerProvider Swagger
@inject NavigationManager Nav

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Admin Instance Settings</RadzenText>
    </div>
    <br />
    <DynamicFormDialog Model="@InstanceBasicModel" ModelData="InstanceBasicModel.Create()" OnSubmit="@Submit"></DynamicFormDialog>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public async Task<string?> Submit(InstanceBasicModel data)
    {
        string CurrentDomain = Nav.BaseUri.Substring(8).Split(':').First().Split('/').First().ToLower();
        if (!CurrentDomain.Equals(data.PublicDomain, StringComparison.OrdinalIgnoreCase))
            return "Public domain does not match the current domain being used.";

        _Data.Config.Instance.Name = data.Name;
        _Data.Config.Instance.Description = data.Description;
        _Data.Config.Instance.PublicDomain = data.PublicDomain.ToLower();
        _Data.Config.Save();
        return null;
    }
}

