<div class="nav-list nav-list-sub">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:lightbulb"></span>
        <h5 style="color: var(--rz-menu-top-item-color) !important; text-decoration: none !important; height: 40px;">@Session.Selected.Project?.Name</h5>
    </div>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/projects/" + Session.Selected.Team?.Project?.VanityUrl + "/home")" Match="NavLinkMatch.All">
            <Template>
            <span class="iconify" data-icon="mdi:home"></span>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>
    </RadzenPanelMenu>
    
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    [Parameter]
    public bool StateChange { get; set; }
}
