<div class="nav-list nav-list-sub">
    <div class="nav-list-header">
        <iconify-icon icon="mdi:web"></iconify-icon>
        <h5 style="color: var(--rz-menu-top-item-color) !important; text-decoration: none !important; height: 40px;">@Session.Selected.Website?.Name</h5>
    </div>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/websites/" + Session.Selected.Team?.Website?.VanityUrl + "/home")" Match="NavLinkMatch.All">
            <Template>
                <iconify-icon icon="mdi:home"></iconify-icon>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/websites/" + Session.Selected.Team?.Website?.VanityUrl + "/cloudflare")" Match="NavLinkMatch.All">
        <Template>
                <iconify-icon icon="mdi:cloud"></iconify-icon>
            <p>Cloudflare</p>
        </Template>
    </RadzenPanelMenuItem>
    </RadzenPanelMenu>
    
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    [Parameter]
    public bool StateChange { get; set; }
}
