@page "/info/http"

<MudExpansionPanels Dense Outlined="false">
    <MudGrid Class="dash-box-content">

        <MudItem xs="4">
            <MudPaper Class="http-100">
                <div class="dash-box-header">
                    <div class="dash-box-icon"><span class="iconify" data-icon="mdi:home"></span></div>
                    <MudText Typo="Typo.h6">Information</MudText>
                </div>
                <br />
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>100</h3>
                            <p>Continue</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>101</h3>
                            <p>Switching Protocols</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>102</h3>
                            <p>Processing</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>103</h3>
                            <p>Early Hints</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
            </MudPaper>

            <MudPaper Class="http-200">
                <div class="dash-box-header">
                    <div class="dash-box-icon"><span class="iconify" data-icon="mdi:home"></span></div>
                    <MudText Typo="Typo.h6">Success</MudText>
                </div>
                <br />
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>200</h3>
                            <p>OK</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>201</h3>
                            <p>Created</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>202</h3>
                            <p>OK</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Accepted</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>203</h3>
                            <p>Non-Authoritative Information</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>205</h3>
                            <p>Reset Content</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>206</h3>
                            <p>Partial Content</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>207</h3>
                            <p>Multi-Status (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>208</h3>
                            <p>Already Reported (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>226</h3>
                            <p>IM Used (HTTP Delta Encoding)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
            </MudPaper>

            <MudPaper Class="http-300">
                <div class="dash-box-header">
                    <div class="dash-box-icon"><span class="iconify" data-icon="mdi:home"></span></div>
                    <MudText Typo="Typo.h6">Redirect</MudText>
                </div>
                <br />
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>300</h3>
                            <p>Multiple Choices</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>301</h3>
                            <p>Moved Permanently</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>302</h3>
                            <p>Found</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>303</h3>
                            <p>See Other</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>304</h3>
                            <p>Not Modified</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>305</h3>
                            <p>Use Proxy</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>306</h3>
                            <p>Unused</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>307</h3>
                            <p>Temporary Redirect</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>308</h3>
                            <p>Permanent Redirect</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Class="http-400">
                <div class="dash-box-header">
                    <div class="dash-box-icon"><span class="iconify" data-icon="mdi:robot"></span></div>
                    <MudText Typo="Typo.h6">Client Errors</MudText>
                </div>
                <br />
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>400</h3>
                            <p>Bad Request</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>401</h3>
                            <p>Unauthorized</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>402</h3>
                            <p>Payment Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>403</h3>
                            <p>Forbidden</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>404</h3>
                            <p>Not Found</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>405</h3>
                            <p>Method Not Allowed</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>406</h3>
                            <p>Not Acceptable</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>407</h3>
                            <p>Proxy Authentication Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>408</h3>
                            <p>Request Timeout</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>409</h3>
                            <p>Conflict</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>410</h3>
                            <p>Gone</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>411</h3>
                            <p>Length Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>412</h3>
                            <p>Precondition Failed</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>413</h3>
                            <p>Payload Too Large</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>414</h3>
                            <p>URI Too Large</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>415</h3>
                            <p>Unsupported Media Type</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>416</h3>
                            <p>Range Not Supported</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>417</h3>
                            <p>Exception Failed</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>418</h3>
                            <p>I'm a Teapot'</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>421</h3>
                            <p>Misdirect Request</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>422</h3>
                            <p>Unprocessable Entity (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>423</h3>
                            <p>Locked (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>424</h3>
                            <p>Failed Dependency (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>425</h3>
                            <p>Too Early</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>426</h3>
                            <p>Upgrade Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>428</h3>
                            <p>Precondition Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>429</h3>
                            <p>Too Many Requests</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>431</h3>
                            <p>Request Header Fields Too Large</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>451</h3>
                            <p>Unavailable for Legal Reasons</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>499</h3>
                            <p>Client Closed Request</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Class="http-500">
                <div class="dash-box-header">
                    <div class="dash-box-icon"><span class="iconify" data-icon="mdi:server"></span></div>
                    <MudText Typo="Typo.h6">Server Errors</MudText>
                </div>
                <br />
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>500</h3>
                            <p>Internal Server Error</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>501</h3>
                            <p>Not Implemented</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>502</h3>
                            <p>Bad Gateway</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>503</h3>
                            <p>Service Unavailable</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>504</h3>
                            <p>Gateway Timeout</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>505</h3>
                            <p>HTTP Version Not Supported</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>507</h3>
                            <p>Insufficient Storage (WebDAV)</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>508</h3>
                            <p>Loop Detected</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>510</h3>
                            <p>Not Extended</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>511</h3>
                            <p>Network Authentication Required</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="flex-auto d-flex py-1">
                            <h3>599</h3>
                            <p>Network Connect Timeout Error</p>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <p>Test</p>
                    </ChildContent>
                </MudExpansionPanel>
            </MudPaper>
        </MudItem>
    </MudGrid>

</MudExpansionPanels>

<style>
    .mud-main-content .mud-paper {
        padding: 10px;
        margin-bottom: 26px !important;
    }

    .mud-expand-panel h3 {
        margin-right: 14px;
    }

    .mud-expand-panel .mud-expand-panel-content {
        padding-top: 12px !important;
        padding-bottom: 10px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .mud-expand-panel .mud-expand-panel-header {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .http-100 h3 {
        color: #03989e;
    }

    .http-200 h3 {
        color: #008037;
    }

    .http-300 h3 {
        color: #ffd230;
    }

    .http-400 h3 {
        color: #da6220;
    }

    .http-500 h3 {
        color: #bc1823;
    }
</style>

@code {

}
