@using DaRT
@using DevSpaceWeb.Data.Consoles
@using DevSpaceWeb.Models.Consoles
@using System.Net
@using LibMCRcon.RCon


<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Rcon Settings</RadzenText>
    </div>
    <br />
    <DynamicFormDialog Model="@ModifyRconModel" ModelData="@Data" OnSubmit="@UpdateRconSettings"></DynamicFormDialog>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamData Team => Session.Selected.Team.Data;
    public ConsoleData Console => Session.Selected.Console;
    public TeamMemberData Member => Session.Selected.Member;

    protected override async Task OnInitializedAsync()
    {
        Data = new ModifyRconModel
        {
            Ip = $"{Console.Ip}:{Console.Port}"
        };
    }

    public ModifyRconModel Data { get; set; }

    public async Task<string?> UpdateRconSettings(ModifyRconModel model)
    {
        if (!Member.HasConsolePermission(Console, ConsolePermission.ManageConsole))
            return "You do not have Manage Console permissions.";

        string[] Split = model.Ip.Split(':');
        string IP = Split[0];

        if (!IPAddress.TryParse(IP, out _))
            return "Failed to parse IP address.";
        string Port = Split[1];
        if (string.IsNullOrEmpty(Port))
            return "Port is missing";

        if (!int.TryParse(Port, out _))
            return "Failed to parse port";

        switch (Console.Type)
        {
            case ConsoleType.Battleye:
                {
                    RCon rcon = new RCon();
                    rcon.Connect(IPAddress.Parse(IP), int.Parse(Port), model.Password);
                    if (!rcon.IsConnected)
                        return "Failed to connect to server with rcon, please check your settings and make sure rcon is enabled.";

                }
                break;
            case ConsoleType.Minecraft:
                {
                    TCPRconAsync rcon = new TCPRconAsync
                        {
                            RConHost = IP,
                            RConPort = int.Parse(Port),
                            RConPass = model.Password
                        };
                    bool Success = await rcon.StartComms();
                    if (!Success)
                        return "Failed to connect to server with rcon, please check your settings and make sure rcon is enabled.";

                }
                break;
        }


        await Console.UpdateAsync(new UpdateDefinitionBuilder<ConsoleData>()
        .Set(x => x.Ip, IP)
        .Set(x => x.Port, int.Parse(Port))
        .Set(x => x.EncryptedPassword, string.IsNullOrEmpty(model.Password) ? Console.EncryptedPassword : model.Password),
        async () =>
        {
            _ = _DB.AuditLogs.CreateAsync(new AuditLog(Member, AuditLogCategoryType.Setting, AuditLogEventType.ConsoleRconChanged)
                .SetTarget(Console)
                .SetSensitive()
                .AddPropertyChange("IP", Console.Ip, IP)
                .AddPropertyChange("Port", Console.Port, int.Parse(Port)));

            Console.Ip = model.Ip;
            Console.EncryptedPassword = model.Password;
            Console.ResetDecryptedPassword();
            Console.Port = int.Parse(Port);

            switch (Console.Type)
            {
                case ConsoleType.Battleye:
                    {
                        RCon rcon = new RCon();
                        rcon.Connect(IPAddress.Parse(IP), int.Parse(Port), model.Password);
                        _Data.BattleyeRcons.Remove(Console.Id);
                        _Data.BattleyeRcons.TryAdd(Console.Id, rcon);
                    }
                    break;
                case ConsoleType.Minecraft:
                    {
                        TCPRconAsync rcon = new TCPRconAsync
                            {
                                RConHost = IP,
                                RConPort = int.Parse(Port),
                                RConPass = model.Password
                            };
                        await rcon.StartComms();
                        _Data.MinecraftRcons.Remove(Console.Id);
                        _Data.MinecraftRcons.TryAdd(Console.Id, rcon);
                    }
                    break;
            }

            Session.TriggerNavMenuChange();
        });
        return null;
    }
}
