@using DaRT
@using DevSpaceWeb.Data.Consoles
@using DevSpaceWeb.Models.Consoles
@using System.Net
@using LibMCRcon.RCon


<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Basic Settings</RadzenText>
    </div>
    <br />
    <DynamicFormDialog Model="@ModifyConsoleModel" ModelData="@Data" OnSubmit="@UpdateSettings"></DynamicFormDialog>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamData Team => Session.Selected.Team.Data;
    public ConsoleData Console => Session.Selected.Console;
    public TeamMemberData Member => Session.Selected.Member;

    protected override async Task OnInitializedAsync()
    {
        Data = new ModifyConsoleModel
        {
            Name = Console.Name,
            VanityUrl = Console.VanityUrl
        };
    }

    public ModifyConsoleModel Data { get; set; }

    public async Task<string?> UpdateSettings(ModifyConsoleModel model)
    {
        if (!Member.HasConsolePermission(Console, ConsolePermission.ManageConsoles))
            return "You do not have Manage Console permissions.";

        VanityUrlData Vanity = Team.GetVanityUrlData();
        if (!string.IsNullOrEmpty(model.VanityUrl))
            model.VanityUrl = Utils.FormatVanityUrl(model.VanityUrl);

        if (Vanity.CheckAlreadyExists(Console, model.VanityUrl))
            return Lang.Errors.vanity_url_already_taken;

        string VanityUrl = Utils.FormatVanityUrl(model.VanityUrl);

        await Console.UpdateAsync(new UpdateDefinitionBuilder<ConsoleData>()
        .Set(x => x.Name, model.Name)
        .Set(x => x.VanityUrl, VanityUrl),
        async () =>
        {
            _ = _DB.AuditLogs.CreateAsync(new AuditLog(Member, AuditLogCategoryType.Setting, AuditLogEventType.ConsoleSettingsChanged)
                .SetTarget(Console)
                .AddPropertyChange("Name", Console.Name, model.Name)
                .AddPropertyChange("Vanity URL", Console.VanityUrl, VanityUrl));

            Console.Name = model.Name;
            Console.VanityUrl = model.VanityUrl;
            VanityUrlData Vanity = Team.GetVanityUrlData();
            await Vanity.UpdateAsync(Console, VanityUrl);
            Session.Selected.Team.Console.VanityUrl = Console.GetVanityUrlOrId();
            Session.TriggerNavMenuChange();
        });
        return null;
    }
}
